.wand{
  z-index: 1;
  position: absolute;
  top: 55%;
  left: -15%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.card:hover .wand , .force-hover.wand{
  z-index: 2;
  opacity: 0.85;
  transform: rotate(-10deg) scaleX(-1) translateY(-15%); 
}

.rose{
    z-index: 1;
    position: absolute;
    top: 60%;
    left: -15%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
}
  
.card:hover .rose , .force-hover.rose{
    z-index: 2;
    opacity: 1;
    transform: rotate(-20deg) scaleX(-1) translateY(-15%); /* Wings move into place */
  }
  
  .stars{
    z-index: 1;
    position: absolute;
    top: 2%;
    height: auto;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.5s ease;
  }
  
  .card:hover .stars, .force-hover.stars {
    z-index: 2;
    opacity: 1;
    transform: scale(1.2); /* Wings move into place */
  }
  
  .clock{
    z-index: 1;
    position: absolute;
    top: 65%;
    right: -5%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .clock, .force-hover.clock {
    z-index: 2;
    opacity: 1;
    transform: translateY(-15%); /* Wings move into place */
  }
  
  .gift{
    z-index: 1;
    position: absolute;
    top: -30%;
    left: -25%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .gift, .force-hover.gift {
    z-index: 2;
    opacity: 1;
    transform: translateY(15%) translateX(15%); 
  }
  
  .kiss{
    z-index: 1;
    position: absolute;
    top: -10%;
    left: -15%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .kiss, .force-hover.kiss {
    z-index: 2;
    opacity: 1;
    transform: translateY(10%) translateX(7%);
  }
  
  .pumpHeart{
    z-index: 1;
    position: absolute;
    top: 65%;
    right: -5%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
    animation: heartbeat 1s infinite;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.15); /* Slightly bigger for the "beat" */
    }
    50% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.1); /* Smaller beat after the main one */
    }
    100% {
      transform: scale(1);
    }
  }
  
  .card:hover .pumpHeart, .force-hover.pumpHeart {
    z-index: 2;
    opacity: 1;
    transform: translateY(-15%); /* Wings move into place */
  }
  
  .multiHearts{
    z-index: 1;
    position: absolute;
    top: 5%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .multiHearts,.force-hover.multiHearts {
    z-index: 2;
    opacity: 1;
    transform: translateY(-15%); /* Wings move into place */
  }
  
  .sun {
    position: absolute;
    top: -15%;
    right: -15%;
    height: auto;
    opacity: 0;
    z-index: 1;
    filter: drop-shadow(0 0 0.5rem rgba(255, 255, 12, 0.788));
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .sun,.force-hover.sun {
    opacity: 1;
    z-index: 2;
    transform: translateY(-20%) rotate(0deg); /* Wings move into place */
  }
  
  .leftLight{
    z-index: 1;
    position: absolute;
    top: 8%;
    right: -10%;
    height: auto;
    opacity: 0;
    filter : sepia(1) saturate(3) hue-rotate(10deg);
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .leftLight,.force-hover.leftLight {
    z-index: 2;
    opacity: 0.7;
    transform: translateY(-20%); /* Wings move into place */
  }
  
  .TopLight{
    z-index: 1;
    position: absolute;
    top: -45%;
    height: auto;
    opacity: 0;
    filter : sepia(0.5) saturate(3) hue-rotate(10deg);
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .TopLight,.force-hover.TopLight {
    z-index: 2;
    opacity: 0.8;
    transform: translateY(30%); /* Wings move into place */
  }
  
  .musicNotes{
    z-index: 1;
    position: absolute;
    top: -15%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
  }
  
  .card:hover .musicNotes,.force-hover.musicNotes {
    z-index: 2;
    opacity: 1;
    transform: translateY(30%); /* Wings move into place */
  }
  
  .halo{
    z-index: 1;
    position: absolute;
    top: -10%;
    width: 150px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .card:hover .halo,.force-hover.halo {
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%); /* Wings move into place */
  }
  
  .wing {
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .wing.left {
    top: 20%;
    left: -135px;
    transform: translateY(-50%) rotate(20deg) ;
  }
  
  .wing.right {
    top: 20%;
    right: -135px;
    transform: translateY(-50%) rotate(-20deg);
  }
  
  .card:hover .wing,.force-hover.wing {
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%) rotate(0deg); /* Wings move into place */
  }