body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #edcaed;
  text-align: center;
  user-select: none;
}

audio{
  width: 250px;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

p{
    position: absolute;
}

/* Keyframes for the glowing effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ff69b4, 0 0 20px #ff69b4, 0 0 25px #ff69b4, 0 0 30px #ff69b4, 0 0 35px #ff69b4;
  }
  50% {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 50px #ff69b4, 0 0 60px #ff69b4, 0 0 70px #ff69b4;
  }
  100% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ff69b4, 0 0 20px #ff69b4, 0 0 25px #ff69b4, 0 0 30px #ff69b4, 0 0 35px #ff69b4;
  }
}

/* Glowing effect with fade-out transition */
.glow {
  animation: glow 3s ease-in-out, fade-out 1s linear 3s forwards;
}

/* Fade out keyframes */
@keyframes fade-out {
  0% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ff69b4, 0 0 20px #ff69b4, 0 0 25px #ff69b4, 0 0 30px #ff69b4, 0 0 35px #ff69b4;
  }
  100% {
    box-shadow: none;
  }
}

button {
	--accent: blue;
	margin-top: 5px;
	font-weight: bold;
	letter-spacing: 0.1em;
	border: none;
	border-radius: 1.1em;
	background-color: #801A86;
	cursor: pointer;
	color: white;
	padding: 1em 2em;
	transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
		letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

button:active {
	box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
	background-color: var(--accent);
	transform: scale(0.95);
}

#logoutBtn {
  position: absolute;
  right: 1%;
	margin-left: 80%;
}

audio{
  position: absolute;
  top:0%;
  left: 0%;
}

.edit-post {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background: #ffffff;
  color: #000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.edit-tooltip {
  z-index: 2;
  position: absolute;
  text-align: center;
  top: 0px;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 150px;
}

.edit-tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.edit-post:hover .edit-tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.edit-icon {
  font-size: 24px;
}

.edit-post:hover,
.edit-post:hover .edit-tooltip,
.edit-post:hover .edit-tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}

.loader {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 45%;
  background: #f4f4f4;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #2e86de;
  box-shadow: 32px -34px 0 5px #0097e6;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0097e6;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0% , 100% {
    bottom: -35px
  }

  25% , 75% {
    bottom: -2px
  }

  20% , 80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25% , 75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}


.effect{
  position: absolute;
  right: 10px;
  top: 10px;
  background: black;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.refresh img{
  width: 28px;                  
  height: 28px;
  vertical-align: middle;   
}
.refresh{
  position: absolute;
  right: 73px;
  top: 10px;
  background: black;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.effect:hover, .refresh:hover{
  background: rgba(126, 119, 119, 0.521);
  transition: 0.5s;
}

.effect svg {
  color: #fff;
}

.card {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  /* width: 200px;
  height: 150px; */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* overflow: hidden; */
  transition: transform 0.3s ease;
}

.card:hover , .force-hover{
  z-index: 2;
  transform: scale(1.05);
}

